@import "config";

/*Menu.scss has the menu container and shadow elements which are reusable for every page
*/

.container {
  background: $primary-color;
  background-image: repeating-linear-gradient(
    -35deg,
    $primary-color,
    $secondary-color 100%
  );
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  transform-style: preserve-3d;

  &.back #main {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    @include easeOut;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 5rem;

    .menu {
      max-width: 72rem;
      width: 100%;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      overflow: hidden;

      .hamburger-menu {
        position: absolute;
        right: 35px;
        top: 35px;
        cursor: pointer;
        @include easeOut;

        .button-line {
          width: 28px;
          height: 4px;
          margin: 0 0 5px 0;
          background-color: $secondary-color;
          @include easeOut;
        }

        &.close {
          transform: rotate(180deg);

          .button-line {
            &:nth-child(1) {
              transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(6.5px, -7.5px);
            }
          }
        }
      }
      .logo {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 4rem;
        position: absolute;
        top: 15px;
        left: 35px;
      }

      .logo span {
        font-weight: 300;
      }
    }
  }

  .nav {
    position: absolute;
    width: 30%;
    top: 0;
    right: 5%;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include easeOut();
  }
  .nav-item {
    list-style: none;
    margin-bottom: 1rem;
    // items offset
    transform: translate3d(1000px, 0, 0);
    @include easeOut();
    // bring items from right
    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $color-a;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.7rem, 0;
    letter-spacing: 1px;
    font-weight: 300;
    color: #eee;
    text-decoration: none;
    height: 3vh;
    white-space: nowrap;
    @include easeOut;

    &:hover {
      color: $color-a;
    }
  }
  @for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.02s;
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.6s;
    background-color: #fff;
    transform: scale(0.999);
    //initial scale set to less than 100. Was causing scrollbar to appear

    &.one {
      z-index: -1;
      opacity: 0.15;
    }
    &.two {
      z-index: -2;
      opacity: 0.1;
    }
  }

  &.back .shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    @include easeOut;
  }

  &.back .shadow.two {
    transform: perspective(1300px) rotateY(20deg) translateZ(115px) scale(0.5);
    @include easeOut;
  }

  &.back {
    .nav {
      visibility: visible;
    }
  }
}
