// Large screens
@include mediaXl {
  #main .content .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// desktop&laptop
@include mediaLg {
  #main .content .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets/halfscreen
@include mediaMd {
  #main .content .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  #main {
    align-items: center;
    text-align: center;
  }
  &.container.back #main {
    transform: perspective(1300px) rotateY(40deg) translateZ(110px) scale(0.5);
    @include easeOut;
  }
  &.container.back .shadow.one {
    transform: perspective(1300px) rotateY(40deg) translateZ(60px) scale(0.5);
    @include easeOut;
  }

  &.container.back .shadow.two {
    transform: perspective(1300px) rotateY(40deg) translateZ(15px) scale(0.5);
    @include easeOut;
  }

  .nav {
    left: 60%;
  }

  #main .content .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }
}

// Phones - hide layers alltogether
@include mediaSm {
  &.container.back #main {
    transform: perspective(1300px) rotateY(40deg) translateZ(-1100px) scale(0.5);
    @include easeOut;
  }
  &.container.back .shadow.one {
    transform: perspective(1300px) rotateY(40deg) translateZ(-900px) scale(0.5);
    @include easeOut;
  }

  &.container.back .shadow.two {
    transform: perspective(1300px) rotateY(40deg) translateZ(-700px) scale(0.5);
    @include easeOut;
  }

  .nav {
    left: 40%;
  }

  #main .content .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
